/* CSS Document */
.main-wrapper{margin:0px auto;padding:0px;width:1000px;background-color:#FFFFFF;}
.header-wrapper{width:1000px;}
.content-wrapper{width:1000px;}
.footer-wrapper{width:1000px;background-color:#e8e8e8;padding-bottom:32px;}
